body {
  font-family: sans-serif;
  background-color: rgb(15, 14, 20);
}

.parent {
  width: 500px;
  margin: 80px auto;
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
}

.main-1 {
  color: rgb(134, 131, 148);
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.pa {
  color: rgb(82, 80, 89);
}

.pass {
  background-color: rgb(36, 35, 43);
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-weight: bold;
  font-size: 20px;
}

.pass i {
  color: rgb(160, 248, 171);
  cursor: pointer;
}

.pass i:hover {
  opacity: 0.7;
}

.content {
  padding: 20px;
  background-color: rgb(36, 35, 43);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.form {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: #fff;
}

.stren {
  display: flex;
  background-color: rgb(15, 14, 20);
  padding: 0 20px;
  margin: 20px 0;
  justify-content: space-between;
}
.stren h4 {
  color: rgb(82, 80, 89);
}
.stren .strength {
  display: flex;
  width: 50px;
  border: none;
  align-self: center;
  justify-content: space-between;
}
.stren div {
  width: 5px;
  height: 20px;
  border: 1px solid #fff;
}
.stren .fi {
  background-color: #f44336;
  border: 1px solid #f44336;
}
.stren .fil {
  background-color: rgb(238, 206, 116);
  border: 1px solid rgb(238, 206, 116);
}

.stren .fill {
  background-color: #4caf50;
  border: 1px solid #4caf50;
}
.gen {
  background-color: rgb(160, 248, 171);
  padding: 0 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.gen i {
  margin-left: 20px;
  align-self: center;
}

@media (max-width: 600px) {
  body {
    padding: 20px;
  }
  .parent {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .parent {
    width: 600px;
  }
}
.length {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-self: center;
}
.length .le {
  color: rgb(160, 248, 171);
  font-size: 25px;
}
.length label {
  align-self: center;
}

input[type="range"] {
  width: 100%;
  outline: none;
}

input[type="range"]::-webkit-scrollbar-thumb {
  background: #000;
}

.gen:hover {
  color: rgb(160, 248, 171);
  background-color: rgb(36, 35, 43);
  border: 1px solid rgb(160, 248, 171);
}

.gen i {
  color: #000;
}

.gen:hover i {
  color: rgb(160, 248, 171);
}
input[type="range"] {
  cursor: pointer;
  transition: 0.1s;
  background: linear-gradient(90deg, rgb(15, 14, 20) 100%, #a0f8ab);
  border-radius: 40px;
  height: 10px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 2px #a6a6a6;
  border: 3px solid #a0f8ab;
  height: 30px;
  width: 30px;
  position: relative;
  top: 4px;
  border-radius: 50px;
  background: #24232b;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}

input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 2px #a6a6a6;
  border: 3px solid #a0f8ab;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background: #24232b;
  cursor: pointer;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 2px #a6a6a6;
  border: 3px solid #a0f8ab;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background: #6e63b9;
  cursor: pointer;
}
input[type="checkbox"] {
  position: relative;
  outline: none;
  border: none;
  box-shadow: none;
  border-radius: 0%;
}
input[type="checkbox"]:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  background-color: #24232b;
  cursor: pointer;
}
input[type="checkbox"]:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #a0f8ab;
  background-color: #24232b;
}
input[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #a0f8ab;
}
input[type="checkbox"]:checked::after {
  content: "";
  width: 4px;
  height: 8px;
  transform: rotate(45deg);
  border: 3px solid #24232b;
  border-top: none;
  border-left: none;
  position: absolute;
  left: 4px;
  top: 0.5px;
  cursor: pointer;
}

label {
  cursor: pointer;
}

.word {
  align-self: center;
  position: relative;
  left: 130px;
  font-size: 1.4rem;
}

@media (max-width: 1199px) {
  .word {
    left: 85px;
  }
}

@media (max-width: 600px) {
  .word {
    left: 35px;
  }
}

.con {
  background-color: #24232b;
  width: 500px;
  height: 300px;
  color: #a6a6a6;
  font-size: 2rem;
  line-height: 1.6;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  border: 1px solid #a0f8ab;
  border-radius: 5px;
}
.con div {
  width: 150px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 80%;
  right: 35%;
  font-size: 20px;
  cursor: pointer;
  color: #24232b;
  background-color: #a0f8ab;
}

.con div:hover {
  background-color: #24232b;
  border: 1px solid #a0f8ab;
  color: #a0f8ab;
}

@media (max-width: 767px) {
  .con {
    /* left: 50%; */
    /* transform: translateX(-50%); */
    width: 250px;
    font-size: 1.45rem;
  }
  .con div {
    top: 82%;
    right: 25%;
  }
}
